@import "tailwindcss";

@theme {
  --breakpoint-*: initial;

  --breakpoint-desktop: 48em;
  --breakpoint-tablet: 48em;
  --breakpoint-mobile: 36.563em;
  --breakpoint-hide-panel-logo: 81.25rem;

  --container-md: 62.5rem;
  --container-sm: 37.813rem;

  /* --color-*: initial; */
  --color-neutral-1000: hsl(225, 9%, 9%);
  --color-neutral-900: hsl(216, 8%, 12%);
  --color-neutral-800: hsl(220, 7%, 18%);
  --color-neutral-700: hsl(216, 9%, 23%);
  --color-neutral-600: hsl(216, 8%, 38%);
  --color-neutral-500: hsl(213, 4%, 51%);
  --color-neutral-400: hsl(222, 9%, 78%);
  --color-neutral-300: hsl(0, 0%, 89%);
  --color-neutral-200: hsl(0, 0%, 96%);
  --color-neutral-100: hsl(0, 0%, 100%);

  --color-orange-200: hsl(13, 75%, 58%);
  --color-orange-100: hsl(21, 86%, 67%);

  --width-almost: 90%;

  --editor-main-cols: 17.188rem minmax(0rem, 1fr);
}

@layer components {
  /* ight the theme icon depending on the state of the switch */
  .theme-switch-container {
    &:has([data-checked]) {
      img:last-child {
        filter: brightness(100);
      }
    }

    &:not(:has([data-checked])) {
      img:first-child {
        filter: brightness(100);
      }
    }
  }
}

@custom-variant theme-dark (&:where([data-theme="dark"] *));
